@import "./Common.css";

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liner-img {
  margin-bottom: 50px;
}

.search-section {
  width: 560px;
}
