@import "./Common.css";

header {
  width: 768px;
  height: 80px;
  top: 0;
  position: sticky;
  z-index: 10;
  background-color: white;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
}

.back-btn {
  cursor: pointer;
}

.header-in {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
  height: 100%;
}

header.scrolled {
  border-bottom-color: var(--color-gray-20);
}

.result-container {
  padding: 0 40px;
}

.skeleton-item,
.result-item {
  list-style: none;
  display: flex;
  margin-top: 30px;
  gap: 14px;
}

.result-item {
  justify-content: space-between;
}

.result-item > a {
  display: flex;
  gap: 14px;
}

.skeleton-thumb,
.item-thumb {
  border-radius: 12px;
  min-width: 72px;
  width: 72px;
  height: 72px;
  background-color: var(--color-gray-20);
  overflow: hidden;
}

.skeleton-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 536px;
}

.item-title {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.skeleton-title {
  width: 458px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--color-gray-20);
}

.skeleton-link {
  width: 160px;
  height: 14px;
  border-radius: 4px;
  background-color: var(--color-gray-20);
}

.item-domain {
  display: flex;
  align-items: center;
  gap: 6px;
}

.item-favi {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  overflow: hidden;
}
.item-thumb > img,
.item-favi > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-netloc {
  text-align: left;
  margin: 0;
  color: var(--color-gray-35);
  font-size: 13px;
}

.item-save {
  display: flex;
  justify-content: end;
  align-items: center;
}

.save-icon {
  cursor: pointer;
}
